ul.todoList{
    li{
        text-align: left;
        margin: 6px 0;
        padding: 10px;
        background: #a28efd38;
        line-height: 1.2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        border-radius: 2px;
        color: #673ab7;
        font-weight: 400;
        button{
            cursor: pointer;
            font-size: 30px;
            font-weight: 700;
            padding: 0;
            color: #fb7aa1;
            background: transparent;
        }
    }
    
}
